<div>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
        <div>
          <label>
            Name:
            <input formControlName="firstName" placeholder="First name">
          </label>
        </div>
        <div>
            <label>
              Name:
              <input formControlName="lastName" placeholder="Last name">
            </label>
          </div>
        <div>
          <label>
            Email:
            <input type="email" formControlName="email" placeholder="Your email">
          </label>
        </div>
        <div>
          <label>
            Message:
            <input type="number" formControlName="mobileNumber" placeholder="Mobile message">
          </label>
        </div>
        <div>
            <label>
              Message:
              <input type="password" formControlName="password" placeholder="Password">
            </label>
          </div>
        <button type="submit">Sign Up</button>
      </form>
</div>