<div>
  <h2>{{longText}}</h2>
    <form [formGroup]="companyForm" (ngSubmit)="onSubmit(companyForm)">
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>ALIAS_ID</mat-label>
          <input formControlName="id" matInput>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>ENTITY_TYPE_NAME</mat-label>
          <input formControlName="entity_TYPE_NAME" matInput>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>COMPANY_NAME</mat-label>
          <input formControlName="company_NAME" matInput>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>UPSTREAM_APP</mat-label>
          <input formControlName="upstream_APP" matInput>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>UPSTREAM_ALIAS</mat-label>
          <input formControlName="upstream_ALIAS" matInput>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>DOWNSTREAM_APP</mat-label>
          <input formControlName="downstream_APP" matInput>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>DOWNSTREAM_ALIAS</mat-label>
          <input formControlName="downstream_ALIAS" matInput>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>INSTRUMENT_NAME</mat-label>
          <input formControlName="instrument_NAME" matInput>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>INSTRUMENT_ID</mat-label>
          <input formControlName="instrument_ID" matInput>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>UPDATED_BY</mat-label>
          <input formControlName="updated_BY" matInput>
        </mat-form-field><br>        
        <button mat-flat-button color="primary" type="submit">Save</button>
      </div> 
    </form>  
  </div>