<p>
  <mat-toolbar color="primary">
    
    <span>Uniper POC</span>
    
  </mat-toolbar>
</p>


<nav mat-tab-nav-bar>
  <a mat-tab-link
     [routerLink]="['/register-component']"
     routerLinkActive #rla1="routerLinkActive"
     [active]="rla1.isActive">Register
  </a>
  <a mat-tab-link
     [routerLink]="['/viewuser-component']"
     routerLinkActive #rla2="routerLinkActive"
     [active]="rla2.isActive">View
  </a>
</nav>
<!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>